In [1]:
import numpy as np
import pymssql

In [3]:
DBConnection = pymssql.connect(user="LSST-2", password="L$$TUser", database="LSSTCATSIM", port='51433')

In [8]:
db = DBConnection.cursor()

In [27]:
query = """SELECT TOP 10 id, llx, lly, urx, ury, ramid, decmid  FROM [LSSTCATSIM].[dbo].[tiles]"""

In [28]:
db.execute(query)

In [29]:
db.fetchall()

[(0, 0.0, -90.0, 4.0, -86.0, 2.0, -88.0),
 (1, 0.0, -86.0, 4.0, -82.0, 2.0, -84.0),
 (2, 0.0, -82.0, 4.0, -78.0, 2.0, -80.0),
 (3, 0.0, -78.0, 4.0, -74.0, 2.0, -76.0),
 (4, 0.0, -74.0, 4.0, -70.0, 2.0, -72.0),
 (5, 0.0, -70.0, 4.0, -66.0, 2.0, -68.0),
 (6, 0.0, -66.0, 4.0, -62.0, 2.0, -64.0),
 (7, 0.0, -62.0, 4.0, -58.0, 2.0, -60.0),
 (8, 0.0, -58.0, 4.0, -54.0, 2.0, -56.0),
 (9, 0.0, -54.0, 4.0, -50.0, 2.0, -52.0)]

In [ ]:
query  = """SELECT t.name AS table_name FROM """

In [22]:
query = """SELECT t.COLUMNS from tiles as t"""

In [24]:
query = """select * from information_schema.columns where table_name = 'tiles'"""

In [25]:
db.execute(query)

In [26]:
db.fetchall()

[(u'LSSTCATSIM',
  u'dbo',
  u'tiles',
  u'id',
  1,
  None,
  u'YES',
  u'int',
  None,
  None,
  10,
  10,
  0,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 (u'LSSTCATSIM',
  u'dbo',
  u'tiles',
  u'llx',
  2,
  None,
  u'YES',
  u'float',
  None,
  None,
  53,
  2,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 (u'LSSTCATSIM',
  u'dbo',
  u'tiles',
  u'lly',
  3,
  None,
  u'YES',
  u'float',
  None,
  None,
  53,
  2,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 (u'LSSTCATSIM',
  u'dbo',
  u'tiles',
  u'urx',
  4,
  None,
  u'YES',
  u'float',
  None,
  None,
  53,
  2,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 (u'LSSTCATSIM',
  u'dbo',
  u'tiles',
  u'ury',
  5,
  None,
  u'YES',
  u'float',
  None,
  None,
  53,
  2,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 (u'LSSTCATSIM',
  u'dbo',
  u'tiles',
  u'ramid',
  6,
  None,
  u'YES',
  u'float',
  None,
  None,
  53,
  2,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 (u'LSSTCATSIM',
  u'dbo',
  u'tiles',
  u'decmid',
  7,
  None,
  u'YES',
  u'float',
  None,
  None,
  53,
  2,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 (u'LSSTCATSIM',
  u'dbo',
  u'tiles',
  u'center',
  8,
  None,
  u'YES',
  u'varchar',
  255,
  255,
  None,
  None,
  None,
  None,
  None,
  None,
  u'iso_1',
  None,
  None,
  u'SQL_Latin1_General_CP1_CI_AS',
  None,
  None,
  None),
 (u'LSSTCATSIM',
  u'dbo',
  u'tiles',
  u'bbox',
  9,
  None,
  u'YES',
  u'varchar',
  255,
  255,
  None,
  None,
  None,
  None,
  None,
  None,
  u'iso_1',
  None,
  None,
  u'SQL_Latin1_General_CP1_CI_AS',
  None,
  None,
  None),
 (u'LSSTCATSIM',
  u'dbo',
  u'tiles',
  u'geocenter',
  10,
  None,
  u'YES',
  u'geography',
  -1,
  -1,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 (u'LSSTCATSIM',
  u'dbo',
  u'tiles',
  u'geobox',
  11,
  None,
  u'YES',
  u'geography',
  -1,
  -1,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 (u'LSSTCATSIM',
  u'dbo',
  u'tiles',
  u'htmpoly',
  12,
  None,
  u'YES',
  u'nvarchar',
  -1,
  -1,
  None,
  None,
  None,
  None,
  None,
  None,
  u'UNICODE',
  None,
  None,
  u'SQL_Latin1_General_CP1_CI_AS',
  None,
  None,
  None),
 (u'LSSTCATSIM',
  u'dbo',
  u'tiles',
  u'corners',
  13,
  None,
  u'YES',
  u'tinyint',
  None,
  None,
  3,
  10,
  0,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 (u'LSSTCATSIM',
  u'dbo',
  u'tiles',
  u'htmpolybin',
  14,
  None,
  u'YES',
  u'varbinary',
  -1,
  -1,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None)]